.btn-signup,
.btn-login {
  transition: var(--transition);
}

.btn-signup:hover,
.btn-login:hover {
  background: var(--sky-hover);
}

@media screen and (max-width: 768px) {
  .header-desktop {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .header-mobile {
    display: none;
  }
}
